/* Add the animation classes */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	opacity: 0;
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

.jumbotron {
	position: relative;
	padding-top: 2rem;
	background-color: #5893f1;
	overflow: hidden;
}

#bg-video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.jumbotron .content {
	position: relative;
	z-index: 1;
}

img,
h1,
p,
svg {
	position: relative;
	z-index: 2;
}



#project {
	background-color: #010D44;
}

section {
	padding-top: 5rem;
}

.img-thumbnail,
.card-text,
.display-4,
.lead {
	animation-delay: 0.5s;
	/* Delay to ensure elements animate after load */
}

/* Footer CSS */
.footer {
	background: #333;
	padding: 1rem 0;
	position: relative;
	overflow: hidden;
}

.footer a {
	color: #010D44;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer a:hover {
	color: #010D44;
}

.footer p {
	margin: 0;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	position: relative;
	z-index: 1;
}

.footer #date-time {
	font-size: 1rem;
	margin-top: 0.5rem;
	position: relative;
	z-index: 1;
}

.footer::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.3), transparent);
	animation: animate 10s linear infinite;
	z-index: 0;
}

@keyframes animate {
	0% {
		transform: translateX(0) translateY(0);
	}

	100% {
		transform: translateX(50%) translateY(50%);
	}
}

/* Icon Hover Animation */
.contact-icons img {
	transition: transform 0.3s ease;
}

.contact-icons img:hover {
	transform: scale(1.1);
}

.contact-info {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	/* Sesuaikan jarak antar item sesuai kebutuhan */
}

.contact-item {
	display: flex;
	align-items: center;
	gap: 10px;
	/* Jarak antara ikon dan teks */
}

.contact-item a {
	margin-left: 10px;
	text-decoration: none;
	/* Menghapus garis bawah pada tautan */
	color: #000;
	/* Ubah warna sesuai kebutuhan */
}

.contact-item img {
	margin-right: 10px;
	/* Jarak antara gambar dan teks */
}

@media (max-width: 768px) {
	.contact-item {
		justify-content: center;
	}
}


/* Add Zoom Effect on Image Hover */
.img-thumbnail {
	transition: transform 0.3s ease-in-out;
}

.img-thumbnail:hover {
	transform: scale(1.1);
	/* Scale image to 1.1 times its original size */
}

.wave {
	position: relative;
	width: 100%;
	height: 150px;
	/* Sesuaikan tinggi sesuai kebutuhan */
	background: #ffffff;
}


.wave::before {
	content: '';
	position: absolute;
	top: -75px;
	/* Sesuaikan untuk mengatur posisi gelombang */
	left: 0;
	width: 200%;
	height: 150px;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x;
	animation: wave-animation 10s linear infinite;
}

@keyframes wave-animation {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}